.footer {
  text-align: center;
  background-color: #7a6f5e61;
  padding: 1px;
  margin-top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  color: rgba(255, 255, 255, 0.387);
  
  
  
  
}