@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.navbar-brand {
  color:mediumseagreen !important;
  font-family: Megrim, cursive;
  font-size:25px;
}

img {
  height: 40px;
  min-width: 20px;
  width: 40px;
  z-index: auto;
  margin-right: 2px;
}